/*! hugo-smorg theme | github.com/solutionroute/hugo-smorg */
// Packaged css and min.css included, see README.md for build instructions.

// Flatly @imports Lato from Google Fonts.
// monospace isn't imported, use system fonts:
$family-monospace: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
// overide theme elements after theme variables but before bulma 
$body-size:16px; 
$link: hsl(217, 71%,  53%);
$background-color: black !important;

// import bulma + bulmaswatch, order is important
// 1. swatch variables
// 2. bulma itself
// 3. swatch overrides
@import 'bulmaswatch/flatly/variables';
@import 'bulma/bulma';
@import 'bulmaswatch/flatly/overrides';

// Finally, any specific customizations for your site; these make
// the footer background on short pages seem infinite
html {
	background-color: $white-ter !important;
}
body > section {
	background-color: $white !important;
}

