[submodule "scss/chroma-sass-themes"]
	path = scss/chroma-sass-themes
	url = https://github.com/solutionroute/chroma-sass-themes.git
[submodule "scss/system-font-css"]
	path = scss/system-font-css
	url = https://github.com/jonathantneal/system-font-css.git
[submodule "scss/bulmaswatch"]
	path = scss/bulmaswatch
	url = https://github.com/solutionroute/bulmaswatch.git
