[submodule "scss/bulmaswatch"]
	path = scss/bulmaswatch
	url = git@github.com:solutionroute/bulmaswatch.git
	branch = gh-pages
[submodule "scss/chroma-sass-themes"]
	path = scss/chroma-sass-themes
	url = https://github.com/solutionroute/chroma-sass-themes.git
