/*! github.com/solutionroute/chroma-sass-themes */
.chroma .ge {
  font-style: italic; }

.chroma .gs {
  font-weight: bold; }

.chroma .c {
  color: #6b6b6b; }

.chroma .k {
  color: #6d8a50; }

.chroma .o {
  color: #8b6a93; }

.chroma .cm {
  color: #6b6b6b; }

.chroma .cp {
  color: #6b6b6b; }

.chroma .c1 {
  color: #6b6b6b;
  font-style: italic; }

.chroma .cs {
  color: #6b6b6b; }

.chroma .kc {
  color: #6a849e; }

.chroma .kd {
  color: #6d8a50; }

.chroma .kn {
  color: #6d8a50; }

.chroma .kp {
  color: #6d8a50; }

.chroma .kr {
  color: #6d8a50; }

.chroma .kt {
  color: #508a82; }

.chroma .na {
  color: #6d8a50; }

.chroma .nb {
  color: #b57988; }

.chroma .nt {
  color: #6d8a50; }

.chroma .s {
  color: #6a849e; }

.chroma .sb {
  color: #6a849e; }

.chroma .sc {
  color: #6a849e; }

.chroma .sd {
  color: #6a849e; }

.chroma .s2 {
  color: #6a849e; }

.chroma .se {
  color: #6a849e; }

.chroma .sh {
  color: #6a849e; }

.chroma .si {
  color: #6a849e; }

.chroma .sx {
  color: #6a849e; }

.chroma .sr {
  color: #6a849e; }

.chroma .s1 {
  color: #6a849e; }

.chroma .ss {
  color: #6a849e; }

.chroma .ow {
  color: #8b6a93; }

div.highlight, .highlight pre {
  background-color: #141414;
  color: #8a8a8a; }
