.syntax {
  background: #ffffff; }
  .syntax .hll {
    background-color: #ffffcc; }
  .syntax .c {
    color: #aaaaaa;
    font-style: italic; }
  .syntax .err {
    color: #FF0000;
    background-color: #FFAAAA; }
  .syntax .k {
    color: #0000aa; }
  .syntax .ch, .syntax .cm {
    color: #aaaaaa;
    font-style: italic; }
  .syntax .cp {
    color: #4c8317; }
  .syntax .cpf, .syntax .c1 {
    color: #aaaaaa;
    font-style: italic; }
  .syntax .cs {
    color: #0000aa;
    font-style: italic; }
  .syntax .gd {
    color: #aa0000; }
  .syntax .ge {
    font-style: italic; }
  .syntax .gr {
    color: #aa0000; }
  .syntax .gh {
    color: #000080;
    font-weight: bold; }
  .syntax .gi {
    color: #00aa00; }
  .syntax .go {
    color: #888888; }
  .syntax .gp {
    color: #555555; }
  .syntax .gs {
    font-weight: bold; }
  .syntax .gu {
    color: #800080;
    font-weight: bold; }
  .syntax .gt {
    color: #aa0000; }
  .syntax .kc, .syntax .kd, .syntax .kn, .syntax .kp, .syntax .kr {
    color: #0000aa; }
  .syntax .kt {
    color: #00aaaa; }
  .syntax .m {
    color: #009999; }
  .syntax .s {
    color: #aa5500; }
  .syntax .na {
    color: #1e90ff; }
  .syntax .nb {
    color: #00aaaa; }
  .syntax .nc {
    color: #00aa00;
    text-decoration: underline; }
  .syntax .no {
    color: #aa0000; }
  .syntax .nd {
    color: #888888; }
  .syntax .ni {
    color: #880000;
    font-weight: bold; }
  .syntax .nf {
    color: #00aa00; }
  .syntax .nn {
    color: #00aaaa;
    text-decoration: underline; }
  .syntax .nt {
    color: #1e90ff;
    font-weight: bold; }
  .syntax .nv {
    color: #aa0000; }
  .syntax .ow {
    color: #0000aa; }
  .syntax .w {
    color: #bbbbbb; }
  .syntax .mb, .syntax .mf, .syntax .mh, .syntax .mi, .syntax .mo {
    color: #009999; }
  .syntax .sb, .syntax .sc, .syntax .sd, .syntax .s2, .syntax .se, .syntax .sh, .syntax .si, .syntax .sx {
    color: #aa5500; }
  .syntax .sr {
    color: #009999; }
  .syntax .s1 {
    color: #aa5500; }
  .syntax .ss {
    color: #0000aa; }
  .syntax .bp {
    color: #00aaaa; }
  .syntax .vc, .syntax .vg, .syntax .vi {
    color: #aa0000; }
  .syntax .il {
    color: #009999; }

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Function */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
