.syntax {
  background: #ffffff; }
  .syntax .hll {
    background-color: #ffffcc; }
  .syntax .c {
    font-style: italic; }
  .syntax .err {
    border: 1px solid #FF0000; }
  .syntax .k {
    font-weight: bold; }
  .syntax .ch, .syntax .cm, .syntax .cpf, .syntax .c1, .syntax .cs, .syntax .ge {
    font-style: italic; }
  .syntax .gh, .syntax .gp, .syntax .gs, .syntax .gu, .syntax .kc, .syntax .kd, .syntax .kn, .syntax .kr {
    font-weight: bold; }
  .syntax .s {
    font-style: italic; }
  .syntax .nc, .syntax .ni, .syntax .ne, .syntax .nn, .syntax .nt, .syntax .ow {
    font-weight: bold; }
  .syntax .sb, .syntax .sc, .syntax .sd, .syntax .s2 {
    font-style: italic; }
  .syntax .se {
    font-weight: bold;
    font-style: italic; }
  .syntax .sh {
    font-style: italic; }
  .syntax .si {
    font-weight: bold;
    font-style: italic; }
  .syntax .sx, .syntax .sr, .syntax .s1, .syntax .ss {
    font-style: italic; }

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Emph */
/* Generic.Heading */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Reserved */
/* Literal.String */
/* Name.Class */
/* Name.Entity */
/* Name.Exception */
/* Name.Namespace */
/* Name.Tag */
/* Operator.Word */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
