.syntax {
  background: #ffffff; }
  .syntax .hll {
    background-color: #ffffcc; }
  .syntax .c {
    color: #888888; }
  .syntax .err {
    color: #FF0000;
    background-color: #FFAAAA; }
  .syntax .k {
    color: #008800;
    font-weight: bold; }
  .syntax .o {
    color: #333333; }
  .syntax .ch, .syntax .cm {
    color: #888888; }
  .syntax .cp {
    color: #557799; }
  .syntax .cpf, .syntax .c1 {
    color: #888888; }
  .syntax .cs {
    color: #cc0000;
    font-weight: bold; }
  .syntax .gd {
    color: #A00000; }
  .syntax .ge {
    font-style: italic; }
  .syntax .gr {
    color: #FF0000; }
  .syntax .gh {
    color: #000080;
    font-weight: bold; }
  .syntax .gi {
    color: #00A000; }
  .syntax .go {
    color: #888888; }
  .syntax .gp {
    color: #c65d09;
    font-weight: bold; }
  .syntax .gs {
    font-weight: bold; }
  .syntax .gu {
    color: #800080;
    font-weight: bold; }
  .syntax .gt {
    color: #0044DD; }
  .syntax .kc, .syntax .kd, .syntax .kn {
    color: #008800;
    font-weight: bold; }
  .syntax .kp {
    color: #003388;
    font-weight: bold; }
  .syntax .kr {
    color: #008800;
    font-weight: bold; }
  .syntax .kt {
    color: #333399;
    font-weight: bold; }
  .syntax .m {
    color: #6600EE;
    font-weight: bold; }
  .syntax .s {
    background-color: #fff0f0; }
  .syntax .na {
    color: #0000CC; }
  .syntax .nb {
    color: #007020; }
  .syntax .nc {
    color: #BB0066;
    font-weight: bold; }
  .syntax .no {
    color: #003366;
    font-weight: bold; }
  .syntax .nd {
    color: #555555;
    font-weight: bold; }
  .syntax .ni {
    color: #880000;
    font-weight: bold; }
  .syntax .ne {
    color: #FF0000;
    font-weight: bold; }
  .syntax .nf {
    color: #0066BB;
    font-weight: bold; }
  .syntax .nl {
    color: #997700;
    font-weight: bold; }
  .syntax .nn {
    color: #0e84b5;
    font-weight: bold; }
  .syntax .nt {
    color: #007700; }
  .syntax .nv {
    color: #996633; }
  .syntax .ow {
    color: #000000;
    font-weight: bold; }
  .syntax .w {
    color: #bbbbbb; }
  .syntax .mb, .syntax .mf {
    color: #6600EE;
    font-weight: bold; }
  .syntax .mh {
    color: #005588;
    font-weight: bold; }
  .syntax .mi {
    color: #0000DD;
    font-weight: bold; }
  .syntax .mo {
    color: #4400EE;
    font-weight: bold; }
  .syntax .sb {
    background-color: #fff0f0; }
  .syntax .sc {
    color: #0044DD; }
  .syntax .sd {
    color: #DD4422; }
  .syntax .s2 {
    background-color: #fff0f0; }
  .syntax .se {
    color: #666666;
    font-weight: bold;
    background-color: #fff0f0; }
  .syntax .sh {
    background-color: #fff0f0; }
  .syntax .si {
    background-color: #eeeeee; }
  .syntax .sx {
    color: #DD2200;
    background-color: #fff0f0; }
  .syntax .sr {
    color: #000000;
    background-color: #fff0ff; }
  .syntax .s1 {
    background-color: #fff0f0; }
  .syntax .ss {
    color: #AA6600; }
  .syntax .bp {
    color: #007020; }
  .syntax .vc {
    color: #336699; }
  .syntax .vg {
    color: #dd7700;
    font-weight: bold; }
  .syntax .vi {
    color: #3333BB; }
  .syntax .il {
    color: #0000DD;
    font-weight: bold; }

/* Comment */
/* Error */
/* Keyword */
/* Operator */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
