.syntax {
  background: #f8f8f8; }
  .syntax .hll {
    background-color: #ffffcc; }
  .syntax .c {
    color: #408080;
    font-style: italic; }
  .syntax .err {
    border: 1px solid #FF0000; }
  .syntax .k {
    color: #008000;
    font-weight: bold; }
  .syntax .o {
    color: #666666; }
  .syntax .ch, .syntax .cm {
    color: #408080;
    font-style: italic; }
  .syntax .cp {
    color: #BC7A00; }
  .syntax .cpf, .syntax .c1, .syntax .cs {
    color: #408080;
    font-style: italic; }
  .syntax .gd {
    color: #A00000; }
  .syntax .ge {
    font-style: italic; }
  .syntax .gr {
    color: #FF0000; }
  .syntax .gh {
    color: #000080;
    font-weight: bold; }
  .syntax .gi {
    color: #00A000; }
  .syntax .go {
    color: #888888; }
  .syntax .gp {
    color: #000080;
    font-weight: bold; }
  .syntax .gs {
    font-weight: bold; }
  .syntax .gu {
    color: #800080;
    font-weight: bold; }
  .syntax .gt {
    color: #0044DD; }
  .syntax .kc, .syntax .kd, .syntax .kn {
    color: #008000;
    font-weight: bold; }
  .syntax .kp {
    color: #008000; }
  .syntax .kr {
    color: #008000;
    font-weight: bold; }
  .syntax .kt {
    color: #B00040; }
  .syntax .m {
    color: #666666; }
  .syntax .s {
    color: #BA2121; }
  .syntax .na {
    color: #7D9029; }
  .syntax .nb {
    color: #008000; }
  .syntax .nc {
    color: #0000FF;
    font-weight: bold; }
  .syntax .no {
    color: #880000; }
  .syntax .nd {
    color: #AA22FF; }
  .syntax .ni {
    color: #999999;
    font-weight: bold; }
  .syntax .ne {
    color: #D2413A;
    font-weight: bold; }
  .syntax .nf {
    color: #0000FF; }
  .syntax .nl {
    color: #A0A000; }
  .syntax .nn {
    color: #0000FF;
    font-weight: bold; }
  .syntax .nt {
    color: #008000;
    font-weight: bold; }
  .syntax .nv {
    color: #19177C; }
  .syntax .ow {
    color: #AA22FF;
    font-weight: bold; }
  .syntax .w {
    color: #bbbbbb; }
  .syntax .mb, .syntax .mf, .syntax .mh, .syntax .mi, .syntax .mo {
    color: #666666; }
  .syntax .sb, .syntax .sc {
    color: #BA2121; }
  .syntax .sd {
    color: #BA2121;
    font-style: italic; }
  .syntax .s2 {
    color: #BA2121; }
  .syntax .se {
    color: #BB6622;
    font-weight: bold; }
  .syntax .sh {
    color: #BA2121; }
  .syntax .si {
    color: #BB6688;
    font-weight: bold; }
  .syntax .sx {
    color: #008000; }
  .syntax .sr {
    color: #BB6688; }
  .syntax .s1 {
    color: #BA2121; }
  .syntax .ss {
    color: #19177C; }
  .syntax .bp {
    color: #008000; }
  .syntax .vc, .syntax .vg, .syntax .vi {
    color: #19177C; }
  .syntax .il {
    color: #666666; }

/* Comment */
/* Error */
/* Keyword */
/* Operator */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
