.syntax {
  background: #111111;
  color: #ffffff; }
  .syntax .hll {
    background-color: #333333; }
  .syntax .c {
    color: #008800;
    font-style: italic;
    background-color: #0f140f; }
  .syntax .err, .syntax .esc, .syntax .g {
    color: #ffffff; }
  .syntax .k {
    color: #fb660a;
    font-weight: bold; }
  .syntax .l, .syntax .n, .syntax .o, .syntax .x, .syntax .p {
    color: #ffffff; }
  .syntax .ch, .syntax .cm {
    color: #008800;
    font-style: italic;
    background-color: #0f140f; }
  .syntax .cp {
    color: #ff0007;
    font-weight: bold;
    font-style: italic;
    background-color: #0f140f; }
  .syntax .cpf, .syntax .c1, .syntax .cs {
    color: #008800;
    font-style: italic;
    background-color: #0f140f; }
  .syntax .gd, .syntax .ge, .syntax .gr {
    color: #ffffff; }
  .syntax .gh {
    color: #ffffff;
    font-weight: bold; }
  .syntax .gi {
    color: #ffffff; }
  .syntax .go {
    color: #444444;
    background-color: #222222; }
  .syntax .gp, .syntax .gs {
    color: #ffffff; }
  .syntax .gu {
    color: #ffffff;
    font-weight: bold; }
  .syntax .gt {
    color: #ffffff; }
  .syntax .kc, .syntax .kd, .syntax .kn {
    color: #fb660a;
    font-weight: bold; }
  .syntax .kp {
    color: #fb660a; }
  .syntax .kr {
    color: #fb660a;
    font-weight: bold; }
  .syntax .kt {
    color: #cdcaa9;
    font-weight: bold; }
  .syntax .ld {
    color: #ffffff; }
  .syntax .m {
    color: #0086f7;
    font-weight: bold; }
  .syntax .s {
    color: #0086d2; }
  .syntax .na {
    color: #ff0086;
    font-weight: bold; }
  .syntax .nb, .syntax .nc {
    color: #ffffff; }
  .syntax .no {
    color: #0086d2; }
  .syntax .nd, .syntax .ni, .syntax .ne {
    color: #ffffff; }
  .syntax .nf {
    color: #ff0086;
    font-weight: bold; }
  .syntax .nl, .syntax .nn, .syntax .nx, .syntax .py {
    color: #ffffff; }
  .syntax .nt {
    color: #fb660a;
    font-weight: bold; }
  .syntax .nv {
    color: #fb660a; }
  .syntax .ow {
    color: #ffffff; }
  .syntax .w {
    color: #888888; }
  .syntax .mb, .syntax .mf, .syntax .mh, .syntax .mi, .syntax .mo {
    color: #0086f7;
    font-weight: bold; }
  .syntax .sb, .syntax .sc, .syntax .sd, .syntax .s2, .syntax .se, .syntax .sh, .syntax .si, .syntax .sx, .syntax .sr, .syntax .s1, .syntax .ss {
    color: #0086d2; }
  .syntax .bp {
    color: #ffffff; }
  .syntax .vc, .syntax .vg, .syntax .vi {
    color: #fb660a; }
  .syntax .il {
    color: #0086f7;
    font-weight: bold; }

/* Comment */
/* Error */
/* Escape */
/* Generic */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Other */
/* Punctuation */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
