.syntax {
  background: #000000; }
  .syntax .hll {
    background-color: #0000ff; }
  .syntax .c {
    color: #00ff00; }
  .syntax .k {
    color: #ff0000; }
  .syntax .ch, .syntax .cm {
    color: #00ff00; }
  .syntax .cp {
    color: #e5e5e5; }
  .syntax .cpf, .syntax .c1, .syntax .cs {
    color: #00ff00; }
  .syntax .kc, .syntax .kd, .syntax .kn, .syntax .kp, .syntax .kr {
    color: #ff0000; }
  .syntax .kt {
    color: #ee82ee; }
  .syntax .s {
    color: #87ceeb; }
  .syntax .no {
    color: #7fffd4; }
  .syntax .nf {
    color: #ffff00; }
  .syntax .nv {
    color: #eedd82; }
  .syntax .sb, .syntax .sc, .syntax .sd, .syntax .s2, .syntax .se, .syntax .sh, .syntax .si, .syntax .sx, .syntax .sr, .syntax .s1, .syntax .ss {
    color: #87ceeb; }
  .syntax .vc, .syntax .vg, .syntax .vi {
    color: #eedd82; }

/* Comment */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.String */
/* Name.Constant */
/* Name.Function */
/* Name.Variable */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
