.syntax {
  background: #000000;
  color: #cccccc; }
  .syntax .hll {
    background-color: #222222; }
  .syntax .c {
    color: #000080; }
  .syntax .err {
    color: #cccccc;
    border: 1px solid #FF0000; }
  .syntax .esc, .syntax .g {
    color: #cccccc; }
  .syntax .k {
    color: #cdcd00; }
  .syntax .l, .syntax .n {
    color: #cccccc; }
  .syntax .o {
    color: #3399cc; }
  .syntax .x, .syntax .p {
    color: #cccccc; }
  .syntax .ch, .syntax .cm, .syntax .cp, .syntax .cpf, .syntax .c1 {
    color: #000080; }
  .syntax .cs {
    color: #cd0000;
    font-weight: bold; }
  .syntax .gd {
    color: #cd0000; }
  .syntax .ge {
    color: #cccccc;
    font-style: italic; }
  .syntax .gr {
    color: #FF0000; }
  .syntax .gh {
    color: #000080;
    font-weight: bold; }
  .syntax .gi {
    color: #00cd00; }
  .syntax .go {
    color: #888888; }
  .syntax .gp {
    color: #000080;
    font-weight: bold; }
  .syntax .gs {
    color: #cccccc;
    font-weight: bold; }
  .syntax .gu {
    color: #800080;
    font-weight: bold; }
  .syntax .gt {
    color: #0044DD; }
  .syntax .kc {
    color: #cdcd00; }
  .syntax .kd {
    color: #00cd00; }
  .syntax .kn {
    color: #cd00cd; }
  .syntax .kp, .syntax .kr {
    color: #cdcd00; }
  .syntax .kt {
    color: #00cd00; }
  .syntax .ld {
    color: #cccccc; }
  .syntax .m {
    color: #cd00cd; }
  .syntax .s {
    color: #cd0000; }
  .syntax .na {
    color: #cccccc; }
  .syntax .nb {
    color: #cd00cd; }
  .syntax .nc {
    color: #00cdcd; }
  .syntax .no, .syntax .nd, .syntax .ni {
    color: #cccccc; }
  .syntax .ne {
    color: #666699;
    font-weight: bold; }
  .syntax .nf, .syntax .nl, .syntax .nn, .syntax .nx, .syntax .py, .syntax .nt {
    color: #cccccc; }
  .syntax .nv {
    color: #00cdcd; }
  .syntax .ow {
    color: #cdcd00; }
  .syntax .w {
    color: #cccccc; }
  .syntax .mb, .syntax .mf, .syntax .mh, .syntax .mi, .syntax .mo {
    color: #cd00cd; }
  .syntax .sb, .syntax .sc, .syntax .sd, .syntax .s2, .syntax .se, .syntax .sh, .syntax .si, .syntax .sx, .syntax .sr, .syntax .s1, .syntax .ss {
    color: #cd0000; }
  .syntax .bp {
    color: #cd00cd; }
  .syntax .vc, .syntax .vg, .syntax .vi {
    color: #00cdcd; }
  .syntax .il {
    color: #cd00cd; }

/* Comment */
/* Error */
/* Escape */
/* Generic */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Other */
/* Punctuation */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
