.syntax {
  background: #ffffff; }
  .syntax .hll {
    background-color: #ffffcc; }
  .syntax .c {
    color: #008000; }
  .syntax .err {
    border: 1px solid #FF0000; }
  .syntax .k {
    color: #0000ff; }
  .syntax .ch, .syntax .cm {
    color: #008000; }
  .syntax .cp {
    color: #0000ff; }
  .syntax .cpf, .syntax .c1, .syntax .cs {
    color: #008000; }
  .syntax .ge {
    font-style: italic; }
  .syntax .gh, .syntax .gp, .syntax .gs, .syntax .gu {
    font-weight: bold; }
  .syntax .kc, .syntax .kd, .syntax .kn, .syntax .kp, .syntax .kr {
    color: #0000ff; }
  .syntax .kt {
    color: #2b91af; }
  .syntax .s {
    color: #a31515; }
  .syntax .nc {
    color: #2b91af; }
  .syntax .ow {
    color: #0000ff; }
  .syntax .sb, .syntax .sc, .syntax .sd, .syntax .s2, .syntax .se, .syntax .sh, .syntax .si, .syntax .sx, .syntax .sr, .syntax .s1, .syntax .ss {
    color: #a31515; }

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Emph */
/* Generic.Heading */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.String */
/* Name.Class */
/* Operator.Word */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
