{{ define "nav" }}
{{ partial "nav.html" . }}
{{ end }}
{{ define "main" }}
<section class="section" itemscope itemtype="http://schema.org/WebPage">
	<div class="container">
		<div class="columns">
			<div class="column is-8 is-offset-2">
				<article class="content">
					<h1 class="title is-3">{{ .Title }}</h1>
					{{ if eq .Type "post" }} 
						<p class="subtitle has-text-grey-light is-6">
						{{ partial "page-date.html" . }}
						</p>
					{{end}}
					{{ if len .Params.tags }}
						<div class="subtitle tags is-6">{{ partial "page-tags.html" . }}</div>
						{{ end }}
					{{ .Content }}
				</article>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
