/*! github.com/solutionroute/chroma-sass-themes */
.chroma .ge {
  font-style: italic; }

.chroma .gs {
  font-weight: bold; }

.chroma .c {
  color: #777; }

.chroma .k {
  color: purple; }

.chroma .o {
  color: orange; }

.chroma .cm {
  color: #777; }

.chroma .cp {
  color: #777; }

.chroma .c1 {
  color: #777;
  font-style: italic; }

.chroma .cs {
  color: #777; }

.chroma .kc {
  color: purple; }

.chroma .kd {
  color: purple; }

.chroma .kn {
  color: purple; }

.chroma .kp {
  color: purple; }

.chroma .kr {
  color: purple; }

.chroma .kt {
  color: purple; }

.chroma .na {
  color: purple; }

.chroma .nt {
  color: purple; }

.chroma .s {
  color: green; }

.chroma .sb {
  color: green; }

.chroma .sc {
  color: green; }

.chroma .sd {
  color: green; }

.chroma .s2 {
  color: green; }

.chroma .se {
  color: green; }

.chroma .sh {
  color: green; }

.chroma .si {
  color: green; }

.chroma .sx {
  color: green; }

.chroma .sr {
  color: green; }

.chroma .s1 {
  color: green; }

.chroma .ss {
  color: green; }

.chroma .ow {
  color: orange; }
