<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<!--TODO move white-ter into css selector-->
			<a class="navbar-item has-text-white-ter" href="/">{{ partial "logo.html" . }}</a>
			<a class="navbar-item has-text-white-ter" href="/about/">About</a>
			<a class="navbar-item has-text-white-ter" href="/contact/">Contact</a>
		<!-- this rev has static menus -->
		<!--<div class="navbar-burger">-->
		  <!--<span></span>-->
		  <!--<span></span>-->
		  <!--<span></span>-->
		<!--</div>-->
		</div>
	</div>
</nav>
