<!-- Provides a crumb (horizontal) or formatted vertical navigation 
     listing for the nodes in the current section, except for "post".

	 CSS classes are for Bulma.
-->
{{ $currentNode := . }}
{{ $currentSection := $currentNode.Section }}
<nav class="breadcrumb" aria-label="breadcrumbs">
<ul>
	<li {{ if eq $currentNode.Params.slug $currentSection }}class="is-active"{{ end }}>
		<a {{ if eq $currentNode.URL .URL }}aria-current="page"{{end}} 
				href="{{ .Section | relURL }}">{{ .Section | title}}</a></li>

<!-- Loop through files in the section - order with Weight in front matter -->
	{{ range $section, $taxonomy := .Site.Sections }}
		{{ if (eq $taxonomy.Slug $currentSection) }}
			{{ range $taxonomy.Pages }}
				{{ $page := . }}
				{{ if eq $page.Draft false }}
				<li {{ if eq $currentNode.URL .URL }}class="is-active"{{ end }}>
					<a {{ if eq $currentNode.URL .URL }}aria-current="page"{{end}} 
							href="{{ .Permalink}}">{{humanize .File.BaseFileName | title}}</a></li>
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
</ul>
</nav>
